<div class="container">
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h4>error</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2> User Info </h2>
  <%= form_for(@user) do |f| %>

  <p> Name <%= f.text_field :name, class:"name" %> </p>

  <p> Image </p>
  <%= f.attachment_field :profile_image, class:"user_image" %>
  <br>

  <p> Introduction <%= f.text_area :introduction, class:"introduction" %> </p>

  <div> <%= f.submit "Update User" %> </div>

  <% end %>
</div>
